.header{
  // height: 80px;
  width: 100%;
  // background-color:white;
  &__box{
    width: 70%;
    margin: 0 auto;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    &__title{
      text-decoration: none;
      font-size: 30px;
    }
    &__select{
      width: 50%;
      display: flex;
    }
  }
  // .btn{
  //   border: indianred;
  //   line-height: 80px;
  // }
}