.main{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 980px;
  &__title{
    border-bottom: solid 3px #f0f0f0;
    color: rgb(55, 231, 31);
    padding-bottom: 20px;
  }
  .top{
    background-color:#F5FFFA;
  }
}