.table{
  width: 700px;
  margin: 0 auto;
  &__list{
    margin: 0 auto;
    &__image{
      text-align: center;
    }

  }
}
.comment{
  margin: 30px;
  width: 600px;
  margin: 0 auto;
  background-color: white;
}
