.header
  .header__box
    .header__box__title
      = link_to "family-blog", root_path
    .header__box__select
      = link_to "投稿する", new_tweet_path, class: "btn btn-primary"
      .header__box__select__log
        ログイン
      .header__box__select__start
        ブログを始める