body {
    height: 100%;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background:#ec6a38;
  -webkit-animation:colour 10s linear infinite;
  -moz-animation:colour 10s linear infinite;
}
@-webkit-keyframes colour{
  0%{
      background:#FFFAF0
  }

  40%{
      background:#FFE4E1
  }

  80%{
      background:#FFF0F5
  }

  100%{
      background:#FFC0CB
  }

}

@-moz-keyframes colour{
  0%{
      background:#ec6a38
  }

  40%{
      background:#ec4038
  }

  80%{
      background:#ec9138
  }

  100%{
      background:#ec6a38
  }

}