.image{
  padding: 25px 0 0 0;
  background-color: #f3e0ea;
  margin-top: 20px;
  &__box{
    width: 980px;
    margin: 0 auto;
    &__list{
      width: 100%;
      table-layout: fixed;
      display: flex;
      justify-content: space-around;
      &__text{
        margin: 20px 0 0 0;
        text-align: center;
        color: #333;
        font-size: 20px;
      }
    }
  }
}

.create{
  text-align: center;;
}
